on:
  schedule:
    - cron:  '0 12 * * *'
name: channel-data

jobs:
  fetch-channel-messages:
    runs-on: macOS-latest
    # env:
      # TWITTER_TOKEN: ${{ secrets.TWITTER_TOKEN }}
      # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-R-packages
      - name: Fetch channel messages
        run: |
          Rscript R/bot_channel2data.R
      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4.12.0
