on:
  schedule:
    - cron:  '0 12 * * 2,4,6'
name: channel-data

jobs:
  fetch-channel-messages:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      - name: Install related packages
        run: Rscript -e 'install.packages(c("tidyverse", "jsonlite"), dependencies = TRUE)'
      - name: Fetch channel messages
        run: Rscript bot_channel2data.R
      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4.12.0
